<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="robots" content="index, follow, noarchive">
    <link rel="stylesheet" href="/css/styleBio.css">
    <title>The Band</title>
</head>
<body>
    <nav class="navbar">
        <img src="images/home-logo-V2.jpg" alt="Logo">
        <ul>
            <li>
                <a th:href="@{/index}">Home</a>
            </li>
            <li>
                <a th:href="@{/band}">The Band</a>
            </li>
            <li>
                <a th:href="@{/music}">Music</a>
            </li>
            <li>
                <a th:href="@{/contactenos}">Contactenos</a>
            </li>
        </ul>
    </nav>
    <img class="title-img" src="images/The-Doors-Logo-with-drop-shadow.png" alt="Titulo The Doors">
    <div class="content">
        <div class="text-content">
            <div class="text">
                <h1>The Doors<br><br></h1>

                <img class="texto-img" src="images/bio-full-band4-768x714.png" alt="Imagen de la banda">

                <p>Con un sonido embriagador que fusionaba géneros, canciones provocativas e intransigentes, y el poder hipnotizante de la poesía y presencia del cantante Jim Morrison, The Doors tuvieron un impacto transformador no solo en la música popular sino también en la cultura popular.</p>

                <p>La llegada de The Doors a la escena del rock en 1967 marcó no solo el inicio de una serie de éxitos en sencillos y álbumes que se convertirían en clásicos atemporales, sino también el inicio de algo mucho más grande: una nueva y más profunda relación entre creadores y audiencia. Negándose a ser meros entretenedores, el cuarteto de Los Ángeles desafió incansablemente, confrontó e inspiró a sus seguidores, lanzándose de cabeza al corazón de la oscuridad mientras otras bandas tarareaban sobre la paz y el amor. Aunque han tenido innumerables imitadores, nunca ha habido otra banda como ellos. Y 50 años después de su álbum debut, la música y el legado de The Doors son más influyentes que nunca.</p>

                <p>El comando místico de Morrison del papel de líder puede ser el corazón icónico de The Doors, pero el extraordinario poder del grupo difícilmente hubiera sido posible sin las virtuosas tapicerías de teclado de Ray Manzarek, el crudo y expresivo trabajo de guitarra de Robby Krieger y los flexibles y dinámicamente ricos ritmos del baterista John Densmore. Desde el rock artístico barroco hasta el pop infusionado de jazz y el blues crudo, el tríptico instrumental de la banda podía navegar por cualquier territorio musical con destreza, y los tres contribuyeron enormemente como compositores.</p>
                
                <p>El grupo nació cuando Morrison y Manzarek, que se habían conocido en la escuela de cine de UCLA, se encontraron nuevamente, inesperadamente, en la playa de Venice, California, durante el verano de 1965. Aunque nunca había planeado ser cantante, Morrison fue invitado a unirse al grupo de Manzarek, Rick and the Ravens, por la fuerza de su poesía. Krieger y Densmore, que habían tocado juntos en la banda Psychedelic Rangers, fueron reclutados poco después; aunque varios bajistas hicieron audiciones para el nuevo colectivo, ninguno pudo proporcionar el extremo bajo de manera tan efectiva como la mano izquierda de Manzarek. Tomando su nombre del monográfico psicotrópico de Aldous Huxley, The Doors firmó con Elektra Records después de un concierto ahora legendario en el Whisky-a-Go-Go en Sunset Strip.</p>
                
                <p>Su primer álbum homónimo, lanzado en enero de 1967, comenzó con "Break on Through (to the Other Side)" y también presentó el éxito "Light My Fire", el abrasador "Back Door Man" y la obra maestra visionaria "The End". The Doors llegó completamente formado, capaz de sacudir las listas de pop y el avant-garde con un disco impresionante. Antes de que terminara el '67, habían lanzado el ambicioso seguimiento Strange Days, con joyas como "Love Me Two Times", "People Are Strange" y "When the Music's Over".</p>
                
                <p>A continuación llegó Waiting for the Sun de 1968, que incluía "Hello, I Love You", "Love Street" y "Five to One". En los próximos años exploraron nuevos territorios en álbumes como The Soft Parade de 1969 (con "Touch Me" y "Tell All the People"), Morrison Hotel de 1970 (que incluye "Roadhouse Blues", "Peace Frog" y "Queen of the Highway") y L.A. Woman de 1971 (con "Riders on the Storm", "Love Her Madly" y la canción principal).</p>
                
                <p>Lanzaron seis álbumes de estudio en total, así como un álbum en vivo y una compilación, antes de la muerte de Morrison en 1971. Sus logros electrizantes en el estudio y en el escenario fueron incomparables en los anales del rock; y aunque la muerte de Morrison significó el fin de una era, Manzarek, Krieger y Densmore colaboraron en dos álbumes originales más de The Doors, Other Voices y Full Circle, y un conjunto de pistas que compusieron para acompañar la grabación de 1969 de Morrison de su poesía, lanzada en 1978 como An American Prayer. También persiguieron proyectos de música individual, libros, producciones teatrales y otras empresas, y siguen siendo creativos inquietos hasta el día de hoy.</p>
                
                <p>En las décadas desde la época dorada de The Doors, el cuarteto ha crecido aún más en el panteón del rock, y siguen siendo un punto de referencia de la cultura insurreccional para escritores, activistas, artistas visuales y otras comunidades creativas. Sus canciones, presentes en un número cada vez mayor de películas, programas de televisión, videojuegos y remezclas, siempre suenan sorprendentemente contemporáneas. No importa cómo cambien las corrientes musicales y culturales, The Doors siempre estarán listos para ayudar a una nueva ola de oyentes a atravesar hacia el otro lado.</p>
                
                <p>The Doors fueron incluidos en el Salón de la Fama del Rock & Roll en 1993.</p>
            </div> 
        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="text">
                <h1>Jim Morrison</h1>
                <h3><em>Cantante de The Doors</em><br><br></h3>
                <img class="texto-img" src="images/bio-jim-morrison.png" alt="Imagen de Jim Morrison">
                
                <p>En el centro de la mística de The Doors se encuentra la presencia magnética del cantante y poeta Jim Morrison, el "Rey Lagarto" vestido de cuero que llevó el poder cautivador de un chamán al micrófono.</p>
                
                <p>Morrison era un estudiante de cine en la UCLA cuando conoció al tecladista Ray Manzarek en Venice Beach en 1965. Al escuchar la poesía de Morrison, Manzarek sugirió de inmediato que formaran una banda; el cantante tomó el nombre del grupo del infame memorias psicodélicas de Aldous Huxley, "Las Puertas de la Percepción".</p>
                
                <p>Desafiando constantemente la censura y la sabiduría convencional, las letras de Morrison exploraban temas primordiales de sexo, violencia, libertad y espíritu. Provocó la indignación de las figuras de autoridad, desafió la intimidación y el arresto, y siguió el camino del exceso (como uno de sus inspiradores, el poeta William Blake, lo expresó famosamente) hacia el palacio de la sabiduría.</p>
                
                <p>A lo largo de seis extraordinarios álbumes y innumerables actuaciones en vivo que rompieron fronteras, cambió inexorablemente el rumbo de la música rock, y murió en 1971 a la edad de 27 años. Fue enterrado en París, y fans de todo el mundo hacen regularmente peregrinaciones a su tumba.</p>
                
                <p>En 1978, los miembros sobrevivientes de la banda - el tecladista Ray Manzarek, el guitarrista Robby Krieger y el baterista John Densmore - se reunieron para grabar la música acompañante para "An American Prayer", una compilación de lecturas de poesía de Morrison. Permanece como el modelo mismo del líder de una banda de rock, y su canto, poesía y comportamiento dionisíaco continúan inspirando a artistas y audiencias en todo el mundo.</p>
                
                <br><h4><em>Fecha de nacimiento: 8 de diciembre de 1943</em></h4>
            </div> 
        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="text">
                <h1>Ray Manzarek</h1>
                <h3><em>Tecladista de The Doors</em><br><br></h3>
                <img class="texto-img" src="images/bio-ray-manzarek.png" alt="Imagen de Ray Manzarek">
                
                <p>Ray Manzarek fue el arquitecto del intoxicante sonido de teclado de The Doors. La interpretación evocadora de Manzarek fusionó rock, jazz, blues, bossa nova y una variedad de otros estilos en algo completamente nuevo y deslumbrante.</p>
                
                <p>El grupo nació en 1965, cuando Jim Morrison y el nativo de Chicago, Manzarek, ambos estudiantes de cine de la UCLA, se conocieron en Venice Beach. La poesía del cantante encajaba perfectamente con las ideas musicales del tecladista, entrenado clásicamente, y eventualmente decidieron formar una banda. Aunque varios bajistas audicionaron para el grupo, ninguno pudo igualar las líneas de bajo proporcionadas por la mano izquierda de Manzarek. Firmados con Elektra Records, The Doors lanzaron seis álbumes de estudio, un álbum en vivo y una recopilación antes del fallecimiento prematuro de Morrison en 1971.</p>
                
                <p>Manzarek, Krieger y Densmore lanzaron dos álbumes como trío bajo el nombre de The Doors, con Manzarek y Krieger encargándose de las voces. Manzarek luego formó el grupo Nite City, que invitó comparaciones con Mott the Hoople y Aerosmith; el quinteto lanzó su único álbum en 1977.</p>
                
                <p>Los miembros sobrevivientes de The Doors se reunieron para crear una banda sonora musical para la poesía grabada de Morrison en el lanzamiento de 1978 An American Prayer. Manzarek produjo y tocó en cinco de los álbumes de la banda de Los Ángeles X, incluyendo Los Angeles, que sigue siendo uno de los puntos más altos del movimiento punk. El tecladista escribió varios libros y grabó numerosos álbumes en solitario. Ray vivió con su esposa de 45 años, Dorothy, en Napa, California, hasta su fallecimiento en mayo de 2013 después de una batalla fatal con cáncer de conducto biliar.</p>
                
                <br><h4><em>Fecha de nacimiento: 12 de febrero de 1939</em></h4>
            </div> 
        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="text">
                <h1>John Densmore</h1>
                <h3><em>Baterista de The Doors</em><br><br></h3>
                <img class="texto-img" src="images/bio-john-densmore.png" alt="Imagen de John Densmore">
                
                <p>El baterista John Densmore fue mucho más que el motor rítmico de The Doors. Fuertemente influenciado por bateristas de jazz como Elvin Jones y los ritmos flexibles de la ola brasileña, aportó un sentido altamente evolucionado de dinámica, estructura y musicalidad a sus ritmos.</p>
                
                <p>Irresistiblemente atraído por la música desde la infancia, Densmore, nacido en Los Ángeles, perfeccionó su sentido de la dinámica tocando con la banda de marcha de su escuela secundaria. A mediados de los años 60 se unió al guitarrista Robby Krieger en una banda llamada Psychedelic Rangers; poco después se asociaron con el tecladista Ray Manzarek y Morrison, y comenzó un capítulo explosivo en el desarrollo del rock 'n' roll. Seguirían una serie de grabaciones que cambiarían paradigmas y actuaciones en vivo épicas.</p>
                
                <p>La muerte de Morrison en 1971 marcó el final de una era, aunque el trío sobreviviente grabó dos álbumes más de canciones y una banda sonora instrumental para la poesía grabada del difunto cantante.</p>
                
                <p>El versátil músico exploró el reggae y el jazz en proyectos posteriores, escribió libros y artículos y se involucró en la aventurera comunidad teatral de Los Ángeles. Ganó un premio L.A. Weekly Theatre Award por la música que creó para la producción teatral dirigida por Tim Robbins, Methusalem. También co-produjo la obra Rounds, que recibió el premio NAACP de teatro en 1987.</p>
                
                <p>La autobiografía de Densmore, Riders on the Storm: My Life With Jim Morrison and The Doors, fue publicada en 1991 y fue un bestseller del New York Times. Ha escrito artículos y ensayos para Rolling Stone, London Guardian, The Nation y muchos periódicos sindicados a nivel nacional.</p>
                
                <br><h4><em>Fecha de nacimiento: 1 de diciembre de 1944</em></h4>
            </div> 
        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="text">
                <h1>Robby Krieger</h1>
                <h3><em>Guitarrista de The Doors</em><br><br></h3>
                <img class="texto-img" src="images/bio-robbie-krieger.png" alt="Imagen de Robby Krieger">
                
                <p>Con un talento para el malicioso slide de bottleneck, solos exploratorios y grooves profundos, el guitarrista Robby Krieger aportó una intensidad punzante y sinuosa al sonido de The Doors. Pero también fue un compositor clave en la banda y escribió algunos de sus mayores éxitos, especialmente su hipnótico éxito número 1, "Light My Fire".</p>
                
                <p>Antes de tomar la guitarra a los 17 años, el nativo de Los Ángeles estudió trompeta y piano. La inspiración para cambiar a la guitarra no vino del rock and roll, sino de la música flamenca española. Sin embargo, su primer héroe de la guitarra fue la leyenda del jazz Wes Montgomery.</p>
                
                <p>Después de la muerte de Morrison en 1971, Krieger, Manzarek y Densmore continuaron como trío. Lanzaron dos álbumes más como The Doors antes de disolverse en 1973, aunque se reunieron unos años después para crear música para la poesía que Morrison había grabado poco antes de su muerte, lanzada como el álbum de 1978 An American Prayer.</p>
                
                <p>Krieger continuó disfrutando del éxito como guitarrista de jazz, grabando varios discos con la Robby Krieger Band en los años 70 y 80. Versions (1983) y No Habla (1986) demuestran ampliamente su versatilidad. "Creo que tocar la guitarra es probablemente lo único que mejora con la edad", dice. Robby Krieger está incluido en la lista de los "100 mejores guitarristas de todos los tiempos" de Rolling Stone.</p>
                
                <br><h4><em>Fecha de nacimiento: 8 de enero de 1946</em></h4>
            </div> 
        </div>
    </div>
    <div class="contact-section">
        <div class="contact-content">
            <h2>Contacto</h2>
            <p>Puedes contactarnos en:</p>
            <p>Email: info@ledzeppelin.com</p>
            <p>Teléfono: +1 123-456-7890</p>
        </div>
    </div>
</body>
</html>
