<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="robots" content="index, follow, noarchive">	
    <link rel="stylesheet" href="/css/styleB.css"/>
    <script src="js/scriptB.js"></script>
    <title>The Doors</title>
</head>
<body>
    <nav class="navbar">
        <img src="images/home-logo-V2.jpg" alt="Logo">
        <ul>
            <li>
                <a th:href="@{/index}">Home</a>
            </li>
            <li>
                <a th:href="@{/band}">The Band</a>
            </li>
            <li>
                <a th:href="@{/music}">Music</a>
            </li>
            <li>
                <a th:href="@{/contactenos}">Contactenos</a>
            </li>
        </ul>
    </nav>

<img class="image1" src="images/Background.png" alt="Banda en un bar">

    <div class="content">
    <div class="text-content">
        <div class="text">
            <h1>The Doors<br><br></h1>
        <p>La llegada de The Doors a la escena del rock en 1967 marcó no solo el inicio de una serie de éxitos
            en sencillos y álbumes que se convertirían en clásicos atemporales, sino también el inicio de algo mucho más grande:
             una nueva y más profunda relación entre creadores y audiencia. Negándose a ser meros entretenedores, 
             el cuarteto de Los Ángeles desafió incansablemente, confrontó e inspiró a sus seguidores, lanzándose 
              de cabeza al corazón de la oscuridad mientras otras bandas tarareaban sobre la paz y el amor.  
              Aunque han tenido innumerables imitadores, nunca ha habido otra banda como ellos. Y 50 años después de su álbum debut, 
               la música y el legado de The Doors son más influyentes que nunca. Con un sonido embriagador que fusionaba géneros,  
               canciones provocativas e intransigentes, y el poder hipnotizante de la poesía y presencia del cantante Jim Morrison, 
               The Doors tuvieron un impacto transformador no solo en la música popular sino también en la cultura popular.</p>
            </div> 
    <img class="texto-img" src="images/bio-full-band4-768x714.png" alt="Imagen de la banda">
    </div>
    </div>

    <img class="image2" src="images/02-HenryDiltz_305-scaled.jpg" alt="Banda en un bar">

    <div class="contact-section">
        <div class="contact-content">
            <h2>Contacto</h2>
            <p>Puedes contactarnos en:</p>
            <p>Email: info@thedoors.com</p>
            <p>Teléfono: +1 123-456-7890</p>
        </div>
    </div>

    <div class="clear"></div>
</body>
</html>
