<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="robots" content="index, follow, noarchive">
    <link rel="stylesheet" href="/css/styleMusic.css">
    <title>Music</title>
</head>
<body>
	<nav class="navbar">
        <img src="images/home-logo-V2.jpg" alt="Logo">
        <ul> 
            <li>
                <a th:href="@{/index}">Home</a>
            </li>
            <li>
                <a th:href="@{/band}">The Band</a>
            </li>
            <li>
                <a th:href="@{/music}">Music</a>
            </li>
            <li>
                <a th:href="@{/contactenos}">Contactenos</a>
            </li>
        </ul>
    </nav>
	<img class="title-img" src="images/The-Doors-Logo-with-drop-shadow.png" alt="Titulo The Doors">
	<div class="content">
        <div class="text-content">
            <div class="album-title">
                <h1>The Doors<br><br></h1>
            </div>
            <div class="text-and-image">
                <img class="texto-img" src="images/cvr_the-doors-original-album_front_1200-768x764.jpg" alt="Cover The Doors">
                <div class="text">
                    <h2><strong>Track Listing<br><br></strong></h2>
                    <ol>
                        <li>Break On Through</li>
                        <li>Soul Kitchen</li>
                        <li>The Crystal Ship</li>
                        <li>Twentieth Century Fox</li>
                        <li>Alabama Song (Whisky Bar)</li>
                        <li>Light My Fire</li>
                        <li>Back Door Man</li>
                        <li>I Looked at You</li>
                        <li>End of the Night</li>
                        <li>Take It as It Comes</li>
                        <li>The End</li>
                    </ol>
                    <br><br>
                    <audio controls>
                        <source src="music/Break on Through To the Other Side.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>

                </div> 
            </div>

            <div class = "description">
                <h3>Release Date: January 4, 1967</h3>
                <h3>Label: Elektra</h3>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="album-title">
                <h1>Strange Days<br><br></h1>
            </div>
            <div class="text-and-image">
                <img class="texto-img" src="images/13358620033_998e2449ca_b-768x768.jpg" alt="Cover Strange Days">
                <div class="text">
                    <h2><strong>Track Listing<br><br></strong></h2>
                    <ol>
                        <li>Strange Days</li>
                        <li>You're Lost Little Girl</li>
                        <li>Love Me Two Times</li>
                        <li>Unhappy Girl</li>
                        <li>Horse Latitudes</li>
                        <li>Moonlight Drive</li>
                        <li>People Are Strange</li>
                        <li>My Eyes Have Seen You</li>
                        <li>I Can't See Your Face In My Mind</li>
                        <li>When The Music's Over</li>
                    </ol>
                    <br><br>
                    <audio controls>
                        <source src="music/Strange Days.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>

                </div> 
            </div>

            <div class = "description">
                <h3>Release Date: September 25, 1967</h3>
                <h3>Label: Elektra</h3>
            </div>

        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="album-title">
                <h1>Waiting For The Sun<br><br></h1>
            </div>
            <div class="text-and-image">
                <img class="texto-img" src="images/the_doors_-_1968_waiting_for_the_sun-768x766.jpg" alt="Cover Waiting For The Sun">
                <div class="text">
                    <h2><strong>Track Listing<br><br></strong></h2>
                    <ol>
                        <li>Hello, I Love You</li>
                        <li>Love Street</li>
                        <li>Not To Touch The Earth</li>
                        <li>Summer's Almost Gone</li>
                        <li>Wintertime Love</li>
                        <li>The Unknown Soldier</li>
                        <li>Spanish Caravan</li>
                        <li>My Wild Love</li>
                        <li>We Could Be So Good Together</li>
                        <li>Yes, The River Knows</li>
                        <li>Five To One</li>
                    </ol>

                    <br><br>

                    <audio controls>
                        <source src="music/Hello I Love You.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>

                </div> 
            </div>

            <div class = "description">
                <h3>Release Date: July 3, 1968</h3>
                <h3>Label: Elektra</h3>
            </div>

        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="album-title">
                <h1>The Soft Parade<br><br></h1>
            </div>
            <div class="text-and-image">
                <img class="texto-img" src="images/thesoftparade-768x768.jpg" alt="Cover The Soft Parade">
                <div class="text">
                    <h2><strong>Track Listing<br><br></strong></h2>
                    <ol>
                        <li>Tell All The People</li>
                        <li>Touch Me</li>
                        <li>Shaman's Blues</li>
                        <li>Do It</li>
                        <li>Easy Ride</li>
                        <li>Wild Child</li>
                        <li>Runnin' Blue</li>
                        <li>Wishful Sinful</li>
                        <li>The Soft Parade</li>
                    </ol>

                    <br><br>

                    <audio controls>
                        <source src="music/Tell All the People.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>

                </div> 
            </div>

            <div class = "description">
                <h3>Release Date: July 18, 1969</h3>
                <h3>Label: Elektra</h3>
            </div>

        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="album-title">
                <h1>Morrison Hotel<br><br></h1>
            </div>
            <div class="text-and-image">
                <img class="texto-img" src="images/cvr_morrison-hotel-original-album_front_1200-768x768.jpg" alt="Cover Morrison Hotel">
                <div class="text">
                    <h2><strong>Track Listing<br><br></strong></h2>
                    <ol>
                        <li>Roadhouse Blues</li>
                        <li>Waiting For The Sun</li>
                        <li>You Make Me Real</li>
                        <li>Peace Frog</li>
                        <li>Blue Sunder</li>
                        <li>Ship Of Fools</li>
                        <li>Land Ho!</li>
                        <li>The Spy</li>
                        <li>Queen Of The Highway</li>
                        <li>Indian Summer</li>
                        <li>Maggie M'Gill</li>
                    </ol>

                    <br><br>

                    <audio controls>
                        <source src="music/Roadhouse Blues.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>

                </div> 
            </div>

            <div class = "description">
                <h3>Release Date: February 9, 1970</h3>
                <h3>Label: Elektra</h3>
            </div>

        </div>
    </div>
    <div class="content">
        <div class="text-content">
            <div class="album-title">
                <h1>L.A. Woman<br><br></h1>
            </div>
            <div class="text-and-image">
                <img class="texto-img" src="images/LA-Woman-768x763.jpg" alt="Cover L.A. Woman">
                <div class="text">
                    <h2><strong>Track Listing<br><br></strong></h2>
                    <ol>
                        <li>The Changeling</li>
                        <li>Love Her Madly</li>
                        <li>Been Down So Long</li>
                        <li>Cars Hiss by My Window</li>
                        <li>L.A. Woman</li>
                        <li>L'America</li>
                        <li>Hyacinth House</li>
                        <li>Crawling King Snake</li>
                        <li>The WASP(Texas Radio and the Big Beat)</li>
                        <li>Riders On The Storm</li>
                    </ol>

                    <br><br>

                    <audio controls>
                        <source src="music/Riders On The Storm.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>

                </div> 
            </div>

            <div class = "description">
                <h3>Release Date: April 19, 1971</h3>
                <h3>Label: Elektra</h3>
            </div>

        </div>
    </div>
	<div class="contact-section">
        <div class="contact-content">
            <h2>Contacto</h2>
            <p>Puedes contactarnos en:</p>
            <p>Email: info@thedoors.com</p>
            <p>Teléfono: +1 123-456-7890</p>
        </div>
    </div>
</body>
</html>

