<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="robots" content="index, follow, noarchive">	
    <link rel="stylesheet" href="styleB.css"/>
    <script src="scriptB.js"></script>
    <title>The Doors</title>
</head>
<body>
    <nav class="navbar">
        <img src="images/home-logo-V2.jpg" alt="Logo">
        <ul>
            <li>
                <a th:href="@{/index}">Home</a>
            </li>
            <li>
                <a th:href="@{/band}">The Band</a>
            </li>
            <li>
                <a th:href="@{/music}">Music</a>
            </li>
            <li>
                <a th:href="@{/contactenos}">Contactenos</a>
            </li>
        </ul>
    </nav>
</body>
</html>